a {
    text-decoration: none;
    color: rgb(226, 10, 10);
}
a:hover, a:active{
    color: rgb(184, 3, 3);
}
.navigation-items{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
mat-toolbar{
    border-radius: 3px;
}
@media(max-width: 959px){
    mat-toolbar{
        border-radius: 0px;
    }
}
mat-toolbar {
    background: #fffefe;
    color: rgb(184, 3, 3);
}

.header{
    float: right;
    text-align: end;
}