<!-- <p>header works!</p> -->
<mat-toolbar >
    <!-- <div fxHide.gt-xs>
        <button mat-icon-button (click)="onToggleSidenav()">
            <mat-icon>menu</mat-icon>
        </button>
    </div> -->
    <div fxShow="true" fxHide.lt-md fxFlex fxLayout>
        <!-- The following menu items will be hidden on both SM and XS screen sizes -->
        <div fxFlex>
           <a [routerLink]="'convert/currency'" mat-button>Currency</a>
           <a [routerLink]="'convert/length'" mat-button>Length</a>
        </div>
        
      </div>

  </mat-toolbar>
  