<h1> Choose lenght  and enter value</h1>

<div>
  <mat-form-field>
    <mat-label>From </mat-label>
    <mat-select [(ngModel)]="lenghtDataOne" name="lenghtDataOne" (ngModelChange)="currencyChange('1')">
      <mat-option *ngFor='let i of lengthArray' [value]="i">
        {{i}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field >
    <mat-label>length</mat-label>
    <input matInput  (keyup)="convertLength('1')" [(ngModel)]="inputValueOne">
  </mat-form-field>
</div>

<div>
 <mat-form-field>
    <mat-label>To </mat-label>
    <mat-select [(ngModel)]="lenghtDataTwo" name="lenghtDataTwo" (ngModelChange)="currencyChange('2')">
      <mat-option *ngFor='let i of lengthArray' [value]="i">
        {{i}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field >
    <mat-label>length</mat-label>
    <input matInput  (keyup)="convertLength('2')" [(ngModel)]="inputValueTwo">
  </mat-form-field>
</div>
  

<ng-container *ngIf="lengthVal">
 
<mat-grid-list cols="4" >
  <mat-grid-tile>{{inputValueOne}} {{lenghtDataOne}} </mat-grid-tile> =
  <mat-grid-tile>{{inputValueTwo}} {{lenghtDataTwo}} </mat-grid-tile>
  </mat-grid-list>
</ng-container>