.mat-column-sn {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 15% !important;
    width:15% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
    text-align: center;
  }
  .mat-column-key {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 35% !important;
    width:35% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
    text-align: center;
  }
  .mat-column-value {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 35% !important;
    width:35% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
    text-align: center;
  }

  table{
    width: 100%;
   }